html {
  /* Font needs to be declared in html */
  font-family: "Roboto", Arial, sans-serif;
  font-display: swap;

  background-color: black;

  
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  height: 100vh;
  width: 100%;

  background-image: url("./img/fond_appli_piscine lyon.jpg");
  background-size: cover;
  background-color: #3087c4;


  flex-direction: column;

  /* elements takes all the width */
  align-items: stretch;

  /* elements takes all the height : header at top, footer at bottom, space between elements */
  justify-content: space-between;
}

header {
  
  padding-top: 10px;



  background-color: white;
  /* flex-grow: 1; */
}

header > img {
  height: auto;
  max-width: 35%;
}

h1 {
  display: none;
}
div#container > h2 {
  margin: 10px;
  color: white;
  font-size: x-large;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
}
h2 > .emphase {
  color: #212b30;
}
h2 > .smallTitle {
  font-size: medium;
}

#map {
  border: 8px solid #dedede;
  background-color: #dedede;

  flex-basis: 40vh;

  width: 80%;
  align-self: center;

  flex-grow: 5;

  margin-bottom: 20px;
}

footer {
  color: #dedede;
  background: #212b30;
  padding: 8px;
  text-align: center;
  font-size: x-small;
}


footer > a:link,
a:active,
a:visited,
a:hover {
  color: #dedede;
}
