body {
  /* Without margin/padding : 0, background is visible all around the page */
  margin: 0;
  padding: 0;

  /* Font needs to be declared in html */
  font-family: "Roboto", Arial, sans-serif;

  /* No scrollbar */
  overflow-y: hidden;

  background-image: url("./img/fond_appli_piscine lyon.jpg");
  background-size: cover;
  background-color: #3087c4;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  background-color: white;
  align-items: center;
}

header > img {
  max-height: 264px;
  max-width: 35%;
  /* margin-bottom: -1.2rem; */
  /* margin-right: 5rem; */
}

h1 {
  color: #19a6df;
  font-size: xx-large;
  font-weight: lighter;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
h1> .black {
  color: black;
}
h1> .bold {
  font-weight: bold;
}
h1> .bb {
  font-weight: bold;
  color: black;
}

h2 {
  margin-top: 10px;
  color: white;
  font-size: x-large;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
}
h2 > .emphase {
  color: #212b30;
}
h2 > .smallTitle {
  font-size: medium;
}


#map {
  width: 80%;
  border: 8px solid #dedede;
  min-height: 60vh;
  margin: 0px;
  padding-bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #dedede;
  background: #212b30;
  padding: 8px;
  text-align: center;
  font-size: x-small;
}

footer > a:link,
a:active,
a:visited,
a:hover {
  color: #dedede;
}
